.shipping-page{
    margin-top: 20px;
}
.shippingForm-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.shippingForm-container .mat-form-field {
    width: 100%;
}

.shippingForm-container button {
    width: 200px;
}
