
@media (max-width: 768px) {
    
    .mobileQuantityButton {
        margin-top:0px;
        width: 34px;
    }
    .hideText {
        display:none;
    }
    .quantity {
        margin-left:20px;
    }
}