.productForm-container {
    display: flex;
    flex-direction: column;
    
  }
  
.productForm-container > * {
    width: 400px;
    align-self: auto;
}

#productPage-container {
      margin-top: 100px;
}


@media (max-width: 768px) {
  .productForm-container > * {
    width: 100%;
    align-self: auto;
}
}