<div class="container" id="productPage-container" >
  <!-- used ng2-validation https://github.com/yuyang041060120/ng2-validation -->
  <div class="row">
    <div class="col-lg-6 col-md-12 col-sm-12">
      <!-- Todo: make form component -->
        <form class="productForm-container" #f="ngForm" (ngSubmit)="save(f.value)" >
            <mat-form-field>
              <input id="title" [(ngModel)]="product.title" #title="ngModel" name="title" matInput placeholder="Title">
            </mat-form-field>
          
            <mat-form-field>
              <input id="price" [(ngModel)]="product.price"  #price="ngModel" required [min]="0" name="price" matInput placeholder="Amount" type="number" class="example-right-align">
              <span matPrefix>$&nbsp;</span>
              <span matSuffix>.00</span>
              <mat-error  *ngIf="price.touched && price.invalid" >
                <mat-error *ngIf="price.errors.required">Price is required</mat-error>
                <mat-error *ngIf="price.errors.min">Price should be 0 or higher</mat-error>          
              </mat-error>
            </mat-form-field>

            
            <mat-form-field>
                
              <mat-select #category="ngModel"  [(ngModel)]="product.category" name="category" placeholder="Select" >
                <mat-option value=""> </mat-option>
                <mat-option *ngFor="let c of categories$ | async" [value]="c.$key">{{ c.name }}</mat-option>
                 <mat-error *ngIf="category.touched && category.invalid" >
                     <mat-error>Category Required</mat-error>
                 </mat-error>
               </mat-select> 
              
            </mat-form-field>
      
            <mat-form-field>
              <input id="imageUrl" [(ngModel)]="product.imageUrl" #imageUrl="ngModel" name="imageUrl" matInput required url placeholder="imageUrl">
              <mat-error *ngIf="imageUrl.touched && imageUrl.invalid">
                <mat-error *ngIf="imageUrl.errors.required">Image Url is required</mat-error>
                <mat-error *ngIf="imageUrl.errors.url">Please enter a valid url</mat-error>
      
              </mat-error>
            </mat-form-field>
      
          <button style="margin-bottom:10px" mat-raised-button color="primary" >Save</button>
          <button type="button" (click)="delete()" mat-raised-button color="accent" >Delete</button>
          </form>

    </div>
    <div style="margin-top:20px;" class="col-lg-6 col-md-12 col-sm-12">
        <product-card [product]="product" [inProductPage]="false" [show-actions]="false"></product-card>
    </div>
  </div>
</div>



    
