<div class="container">
    <h1> Order Detail </h1>
  
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>Product</th>
          <th>Quantity</th>
          <th  >Price</th>
          <!-- class="text-right" -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of items" >
          <td><div [style.backgroundImage]="'url(' + item.product.imageUrl + ')'" class="thumbnail" ></div></td>
          <td> {{ item.product.title }}</td>
          <td> {{ item.quantity }}</td>
          <td > {{ item.totalPrice | currency:'USD':true  }}</td>
          <!-- class="text-right" -->
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th class="text-right"></th>
        </tr>
      </tfoot>
    </table>

  </div>

